.spinner {
    border: 8px solid rgba(0, 0, 0, 0.1);
    border-top: 8px solid white; /* Change color if needed */
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

body{
    background-color: #3498db;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

nav{
    flex:1;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

nav button{
    flex: 1;
    border: none;
    background-color: #3e3e3e;
    color: #ffffff;
    display: flex;
    flex: row;
    justify-content: space-evenly;
    align-items: center;
        
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 10px;
    font-size: x-large;
    font-weight: bold;
    min-height: fit-content
    
}

nav button img{
    border-radius: 50%;
    width: 64px;
    height: 64px;
}

nav button:hover{
    background-color: #505050;
    box-shadow: #fefefe 0px 10px;
}

section{
    flex:4;
    display: flex;
    flex-direction: column;
    background-color: #fefefe;
    overflow-y: auto;
    max-height: 100vh;
}
section article{
    min-height: fit-content;
    display: flex;
    justify-content: left;
    flex-direction: column;

    margin: 10px;
    padding: 10px;
    border: 2px #3498db solid;
    border-radius: 20px;
    box-shadow: 0px 0px 5px 5px #3e3e3e40;
}

section article input,p,h1,h2,h3,h4,h5,h6{
    line-height: 150%;
    margin: 5px;
    margin-left: 20px;
}

section article p{
    margin-left: 40px;
}

section article input{
    border-radius: 50em;
    padding: 0.75em;
    border:#3498db solid 2px;
    line-height: 150%;
    margin: 5px;
    margin-left: 20px;
    width: 50%;
}

select,option {
    font-size: large;
    font-weight: bold;
    flex:1;
    width: 66%;
    
    padding: 0.75em;
    background-color: #dddddd;
    color:#fefefe;
    color:black;
    border: #3498db solid 2px;
    border-radius: 2em;
    align-self: left;

}


section article button{
    font-size: large;
    font-weight: bold;
    width: fit-content;
    padding: 0.75em;
    padding-left: 1.5em;
    padding-right:1.5em;
    background-color: #3498db;
    color:#fefefe;
    border: none;
    border-radius: 2em;
    align-self: flex-end;
}

.btn-red{
    background-color: #bd0000;
}

.horizontal{
    display:flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.btn-red:hover{
    background-color: #ff0000;
}

section article button:hover{
    background-color: #66b1e3;
    transform: scale(1.05);
}
section article button:active{
    background-color: #2483c2;
}

aside{
    flex:1;
    display: flex;
    flex-direction: column;
    background-color: #3e3e3e;
    color: #ffffff;
    align-items: center;
}

/** Styling based on specific element ids **/
 

nav #nav-account{
    flex:1.5;
}

nav #nav-logout:hover{
    background-color: #bd0000;
    box-shadow: #fefefe 0px 10px;
}

#content{
    display: flex;
    flex-direction: row;
    background-color: #3498db;
    height: max-content;
    min-height: 100vh;
}

#loading {
    display: none;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#static {
    display:flex;
}

#editable {
    display: none;
}

section article span #cancel:hover{
    background-color: #bd0000;
}

#switch-sponsor:hover{
    background-color: #00bd00;
}

#warning{
    background-color: #ff0000;
    border:#bd0000 dashed 4px;
    border-radius: 0.5em;
    flex: content;
    flex-direction: row;
    font-size:large ;
    font-weight: bolder;
    color:white;

    padding: 0.5em;
    width: fit-content;
}

#sponsor-preview{
    display:none;
    flex-direction:column;
}

#user-result, #sponsor-result-edit{
    display:none;
    flex-direction: column;
}

#user-result-edit, #sponsor-result-edit{
    display:none;
    flex-direction: column;
}


